<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Music</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Playlist Songs</h1>

    <ul>
        <% for(let i = 0; i < songs.length; i ++) { %>
            <li>
                <a href="/songs/<%= songs[i]._id %>"><%= songs[i].songName %></a>
            </li>
        <% } %>
    </ul>
    
</body>
</html>