<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Music</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Add Songs to Playlist</h1>
    <form action="/songs" method="POST">
        <select name="playlist">
            <% playlists.forEach((playlist) => { %>
                <option value="<%= playlist.id %>"><%= playlist.playlistName %></option>
            <% }) %>
        </select>
        <div>
            <label for="songName">Song Name:</label>
            <input type="text" name="songName" placeholder="song name">
        </div>
        <div>
            <label for="artist">Artist:</label>
            <input type="text" name="artist" placeholder="artist">
        </div>
        <div>
            <label for="album">Album:</label>
            <input type="text" name="album" placeholder="album">
        </div>
        <div>
            <label for="link">Link:</label>
            <input type="text" name="link" placeholder="(ex: youtube, spotify)">
        </div>
        <input type="submit" value="Add Song">
    </form>
</body>
</html>