<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Music</title>
</head>
<body>
    <h1>All Playlists</h1>
    <button><a href="/playlists/new">Add a New Playlist</a></button>
    <ul>
        <% for(let i = 0; i < playlists.length; i ++) { %>
            <li>
                <a href="/playlists/<%= playlists[i]._id %>"><%= playlists[i].playlistName %></a>
            </li>
        <% } %>
    </ul>
    
</body>
</html>