<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Music</title>
</head>
<body>
    <h1>All Playlists</h1>

    <ul>
        <% for(let i = 0; i < playlists.length; i ++) { %>
            <li>
                <a href="/playlists/<%= i %>"><%= playlists[i].playlistName %></a>
            </li>
        <% } %>
    </ul>
    
</body>
</html>