<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Music</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Create a New Playlist</h1>
    <form action="/playlists" method="POST">
        <div>
            <label for="playlistName">Playlist Name:</label>
                <input type="text" name="playlistName" placeholder="give your playlist a name!">
        </div>
        <div>
            <label for="genre">Genre:</label>
                <select name="genre">
                    <option>Select One:</option>
                    <option value="Alternative">Alternative</option>
                    <option value="Classical">Classical</option>
                    <option value="Country">Country</option>
                    <option value="Hip-Hop">Hip Hop</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Metal">Metal</option>
                    <option value="Pop">Pop</option>
                    <option value="R&B">R&B</option>
                    <option value="Reggae">Reggae</option>
                    <option value="Rock">Rock</option>
                    <option value="Techno">Techno</option>
                    <option value="Other">Other</option>
                </select>
                <input type="submit" value="Create Playlist">
        </div>
    </form>
</body>
</html>