<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">
        <link rel="icon" href="./images/favicon_io/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../styles/main.css">
        <title>myTrax</title>
    </head>
    <body>
        <%- include('../partials/navbar') %>
        <h1 class="d-flex flex-column align-items-center container mb-5">Create a New Playlist</h1>
        <form class="container" action="/playlists" method="POST">
            <div>
                <label class="edit-field" for="playlistName">Playlist Name:</label>
                    <input class="edit-field form-control-sm" type="text" name="playlistName" placeholder="name your playlist!">
            </div>
            <div>
                <label class="edit-field" for="genre">Genre:</label>
                    <select class="custom-select" name="genre">
                        <option>Select One:</option>
                        <option value="Alternative">Alternative</option>
                        <option value="Classical">Classical</option>
                        <option value="Country">Country</option>
                        <option value="Hip-Hop">Hip Hop</option>
                        <option value="Jazz">Jazz</option>
                        <option value="Metal">Metal</option>
                        <option value="Pop">Pop</option>
                        <option value="R&B">R&B</option>
                        <option value="Reggae">Reggae</option>
                        <option value="Rock">Rock</option>
                        <option value="Techno">Techno</option>
                        <option value="Other">Other</option>
                    </select>
            </div>
            <div class="container d-flex flex-row align-items-center justify-content-center">
                <input class="w-100 btn-lg btn-primary input-button" type="submit" value="Create Playlist">
            </div>
        </form>
        <div>
            <footer class="footer-info">Made By Onias I. & Kyle H.</footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js" integrity="sha512-iceXjjbmB2rwoX93Ka6HAHP+B76IY1z0o3h+N1PeDtRSsyeetU3/0QKJqGyPJcX63zysNehggFwMC/bi7dvMig==" crossorigin="anonymous"></script>
        <script src="../scripts/app.js"></script>
    </body>
</html>